<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System App</title>
    <link rel="icon" href="../img/logo.png">

    {{!-- custom css --}}
    <link rel="stylesheet" href="../css/dash-card.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/w3css.css">

    {{!-- bootstrap --}}
    <link rel="stylesheet" href="../css/bootstrap/bootstrapcss.css">
    <script src="../css/bootstrap/bootstrapjquery.js"></script>
    <script src="../css/bootstrap/bootstrapproper.js"></script>
    <script src="../css/bootstrap/bootstrap.js"></script>

    {{!-- custom script --}}
    <script src="../js/script.js"></script>

    {{!-- links --}}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="container">
        <a href="/products"><button class="btn btn-primary px-5 py-2 float-right">Back</button></a>
        <div class="row mt-5">
            <div class="col-md-4 mr-2">
                <img class="d-block mx-auto" src="../img/product/product.png" alt="{{product.product_name}}"
                    style="width:350px">
            </div>

            <div class="col-md-7 mt-5 ml-5">
                <form action="/product/{{product.id}}" method="post">
                    <input type="hidden" name="_id" value="{{product.id}}">
                    <div class="ml-3">
                        <input class="info-input" type="text" id="prodNum" value="PRODUCT # : 115566" readonly>

                        <div class="mt-2" style="white-space:nowrap">
                            <input id="prodName" name="product_name" style="font-size: 30px;width:75%" class="info-input" type="text"
                                value="{{product.product_name}}" readonly />
                        </div>
                        <div class="mt-2" style="white-space:nowrap">
                            <label style="font-size: 25px;"><b><i class="fa fa-tag"></i></b></label>
                            <input name="brand" style="width: 70%;" id="brand" class="info-input" type="text"
                                value="{{product.brand}}" readonly>
                        </div>
                        <div class="mt-2" style="white-space:nowrap">
                            <label style="font-size: 25px;"><b>&#8369;</b></label>
                            <input style="width: 71%;" id="price" class="info-input" type="text" value="1500" readonly>
                        </div>
                        <div class="mt-2" style="white-space:nowrap">
                            <label><b><i style="font-size: 25px;" class="fas fa-calendar-check"></i></b> Created at:
                            </label>
                            <input id="createdAt" class="info-input" type="text" value="10-12-2020" readonly>
                        </div>
                        <div class="mt-2" style="white-space:nowrap">
                            <label><b><i style="font-size: 25px;" class="fas fa-clock"></i></b> Updated at: </label>
                            <input id="updatedAt" class="info-input" type="text" value="10-12-2020" readonly>
                        </div>
                        <hr>
                        <p>IN STOCK</p>
                        <div class="mt-2" style="white-space:nowrap">
                            <label><b><i style="font-size: 25px;" class="fa fa-th"></i></b> Quantity: </label>
                            <input name="qty" style="width: 55%;" id="qty" class="info-input" type="text" value="{{product.qty}}"
                                readonly>
                        </div>
                        <hr>
                        <div class="float-right">
                            <a href="/product/delete/{{product._id}}" onclick="return confirm('Are you sure you want to delete?')" type="button" class="btn btn-danger mx-2 px-4 py-2">Delete</a>
                            <button id="edit" type="button" class="btn btn-warning mx-2 px-4 py-2">Edit</button>
                            <button style="display:none" id="update" type="submit" class="btn btn-warning mx-2 px-4 py-2">Update</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>